<%= form_for @travaux_statut, :html => { :class => "form-horizontal travaux_statut" } do |f| %>

    <% if @travaux_statut.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@travaux_statut.errors.count, "error") %> prohibited this travaux_statut from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @travaux_statut.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :nom, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nom, :class => 'form-control' %>
    </div>
    <%= error_span(@travaux_statut[:nom]) %>
  </div>
  <div class="control-group">
    <%= f.label :ordre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ordre, :class => 'form-control' %>
    </div>
    <%= error_span(@travaux_statut[:ordre]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            travaux_statuts_path, :class => 'btn btn-default' %>

<% end %>
