<%- model_class = TravauxStatut -%>
<div class="titre_actif">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nom) %></th>
      <th><%= model_class.human_attribute_name(:ordre) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @travaux_statuts.each do |travaux_statut| %>
      <tr>
        <td><%= link_to travaux_statut.id, travaux_statut_path(travaux_statut) %></td>
        <td><%= travaux_statut.nom %></td>
        <td><%= travaux_statut.ordre %></td>
        <td><%=l travaux_statut.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_travaux_statut_path(travaux_statut), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      travaux_statut_path(travaux_statut),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_travaux_statut_path,
            :class => 'btn btn-primary' %>
