<%= form_for(@superviseur) do |f| %>
  <% if @superviseur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@superviseur.errors.count, "error") %> prohibited this superviseur from being saved:</h2>

      <ul>
      <% @superviseur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :travail_id %><br>
    <%= f.number_field :travail_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit id: "superviseurSubmitButton" %>
  </div>
<% end %>
