<p id="notice"><%= notice %></p>

<h1>Listing Superviseurs</h1>

<table>
  <thead>
    <tr>
      <th>Travail</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @superviseurs.each do |superviseur| %>
      <tr>
        <td><%= superviseur.travail_id %></td>
        <td><%= superviseur.user_id %></td>
        <td><%= link_to 'Show', superviseur %></td>
        <td><%= link_to 'Edit', edit_superviseur_path(superviseur) %></td>
        <td><%= link_to 'Destroy', superviseur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Superviseur', new_superviseur_path %>
