<p id="notice"><%= notice %></p>

<p>
  <strong>Travail:</strong>
  <%= @superviseur.travail_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @superviseur.user_id %>
</p>

<%= link_to 'Edit', edit_superviseur_path(@superviseur) %> |
<%= link_to 'Back', superviseurs_path %>
