<%= form_for @tier, :html => { :class => "form-horizontal tier" } do |f| %>

    <% if @tier.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@tier.errors.count, "error") %> prohibited this tier from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @tier.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

	<div class="col-md-6">
    <div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
				<%= f.text_field :civilite, class: "form-control", placeholder: "Civilité", title: "Civilité"%>
			</div>
		  <%= error_span(@tier[:civilite]) %>
		</div>
    <div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
				<%= f.text_field :nom, class: "form-control", placeholder: "Nom", title: "Nom"%>
			</div>
		  <%= error_span(@tier[:nom]) %>
		</div>
		<div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
				<%= f.text_field :prenom, class: "form-control", placeholder: "Prénom", title: "Prénom"%>
			</div>
		  <%= error_span(@tier[:prenom]) %>
		</div>
		<div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-home fa-fw"></i></span>
				<%= f.text_area :adresse, class: "form-control", placeholder: "Adresse", title: "Adresse"%>
			</div>
		  <%= error_span(@tier[:adresse]) %>
		</div>
		<div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-home fa-fw"></i></span>
				<%= f.text_field :cp, class: "form-control", placeholder: "Code postal", title: "Code postal"%>
			</div>
		  <%= error_span(@tier[:cp]) %>
		</div>
		<div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-home fa-fw"></i></span>
				<%= f.text_field :ville, class: "form-control", placeholder: "Ville", title: "Ville"%>
			</div>
		  <%= error_span(@tier[:ville]) %>
		</div>
	</div>
	<div class="col-md-6">
    <div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-building fa-fw"></i></span>
				<%= f.text_field :raison_sociale, class: "form-control", placeholder: "Raison sociale", title: "Raison sociale"%>
			</div>
		  <%= error_span(@tier[:raison_sociale]) %>
		</div>
    <div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
				<%= f.text_field :tel, class: "form-control", placeholder: "Téléphone", title: "Téléphone"%>
			</div>
		  <%= error_span(@tier[:tel]) %>
		</div>
		<div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-fax fa-fw"></i></span>
				<%= f.text_field :fax, class: "form-control", placeholder: "Fax", title: "Fax"%>
			</div>
		  <%= error_span(@tier[:fax]) %>
		</div>
		<div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-mobile fa-fw"></i></span>
				<%= f.text_field :portable, class: "form-control", placeholder: "Téléphone portable", title: "Téléphone portable"%>
			</div>
		  <%= error_span(@tier[:portable]) %>
		</div>
		<div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
				<%= f.text_field :email, class: "form-control", placeholder: "Email", title: "Email"%>
			</div>
		  <%= error_span(@tier[:email]) %>
		</div>
		<div class="control-group">
			<div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-users fa-fw"></i></span>
				<%= f.select(:tiers_type_id, [], {}, {class: "form-control"}) do %>
					<% TiersType.all.each do |type| %>
						<%= content_tag(:option, type.nom, value: type.id, selected: (type.id==@tier[:tiers_type_id])) %>
					<% end %>
				<% end %>
				<%= error_span(@tier[:tiers_type_id]) %>
			</div>
		</div>
	</div>

  <div class="col-md-12">
    <div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
				<%= f.text_area :notes, class: "form-control", placeholder: "Notes", title: "Notes"%>
			</div>
		  <%= error_span(@tier[:notes]) %>
		</div>
  </div>

	<div class="col-md-12">
		<%= f.submit "Valider", :class => 'btn btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
		          :back, :class => 'btn btn-default' %>
	</div>
<% end %>
