<script>
	app.controller('TiersList', function($scope) {
	  $scope.tiers = gon.tiers;
	  $scope.predicate = 'nom';
	  $scope.reverse = true;
	  $scope.order = function(predicate) {
	    $scope.reverse = ($scope.predicate === predicate) ? !$scope.reverse : false;
	    $scope.predicate = predicate;
	  };
	  $scope.filter_show = true;
	  $scope.go = function(id) {
			window.document.location = '/tiers/'+id;
		};
	});
</script>

<%- model_class = Tier -%>
<div class="titre_actif">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div ng-controller="TiersList">
	<button ng-click="filter_show=!filter_show" ng-show="false">Filtres</button>
	<div class="table-responsive">
		<table st-table="tiers" class="table table-striped table-hover">
			<thead>
				<tr>
				  <th>
				    <a href="" ng-click="order('type')">Type</a>
				    <span class="sortorder" ng-show="predicate === 'type'" ng-class="{reverse:reverse}"></span>
				  </th>
					<th>
				    <a href="" ng-click="order('raison_sociale')">Raison sociale</a>
				    <span class="sortorder" ng-show="predicate === 'raison_sociale'" ng-class="{reverse:reverse}"></span>
				  </th>
				  <th>
				    <a href="" ng-click="order('nom')">Nom</a>
				    <span class="sortorder" ng-show="predicate === 'nom'" ng-class="{reverse:reverse}"></span>
				  </th>
				  <th>
				    <a href="" ng-click="order('prenom')">Prénom</a>
				    <span class="sortorder" ng-show="predicate === 'prenom'" ng-class="{reverse:reverse}"></span>
				  </th>
				  <th>
				    <a href="" ng-click="order('ville')">Ville</a>
				    <span class="sortorder" ng-show="predicate === 'ville'" ng-class="{reverse:reverse}"></span>
				  </th>
				  <th>
				    <a href="" ng-click="order('tel')">Tel</a>
				    <span class="sortorder" ng-show="predicate === 'tel'" ng-class="{reverse:reverse}"></span>
				  </th>
				</tr>
				<tr ng-show="filter_show">
					<td><input class="recherche form-control" ng-model="search.type"></td>
					<td><input class="recherche form-control" ng-model="search.raison_sociale"></td>
					<td><input class="recherche form-control" ng-model="search.nom" autofocus></td>
					<td><input class="recherche form-control" ng-model="search.prenom"></td>
					<td><input class="recherche form-control" ng-model="search.ville"></td>
					<td><input class="recherche form-control" ng-model="search.tel"></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tier in tiers | filter:search | orderBy:predicate:reverse" ng-click="go(tier.id)">
					<td>{{tier.type}}</td>
					<td>{{tier.raison_sociale}}</td>
					<td>{{tier.nom}}</td>
					<td>{{tier.prenom}}</td>
					<td>{{tier.ville}}</td>
					<td>{{tier.tel}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6" class="text-center">
						<div st-pagination="" st-items-by-page="15" st-displayed-pages="7"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<div class="col-md-12">
	<%= link_to "Nouveau tiers",
	            new_tier_path,
	            :class => 'btn btn-primary' %>
</div>
