<%- model_class = Tier -%>
<div class="titre_actif">
  <h1><%= "#{@tier.nom_complet} - #{@tier.tiers_type.nom}" %></h1>
</div>

<div class="col-md-6">
	<dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:raison_sociale) %>:</strong></dt>
		<dd><%= @tier.raison_sociale %></dd>
    <dt><strong><%= model_class.human_attribute_name(:nom) %>:</strong></dt>
		<dd><%= @tier.nom %></dd>
    <dt><strong><%= model_class.human_attribute_name(:prenom) %>:</strong></dt>
		<dd><%= @tier.prenom %></dd>
		<dt><strong><%= model_class.human_attribute_name(:adresse) %>:</strong></dt>
		<dd><%= @tier.adresse %></dd>
		<dd><%= "#{@tier.cp} #{@tier.ville}" %></dd>
		<dt><strong>Tél domicile:</strong></dt>
		<dd><%= @tier.tel %></dd>
    <dt><strong>Tél bureau:</strong></dt>
		<dd><%= @tier.tel_bureau %></dd>
		<dt><strong><%= model_class.human_attribute_name(:fax) %>:</strong></dt>
		<dd><%= @tier.fax %></dd>
		<dt><strong><%= model_class.human_attribute_name(:portable) %>:</strong></dt>
		<dd><%= @tier.portable %></dd>
		<dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
		<dd><%= @tier.email %></dd>
    <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
		<dd><%= simple_format(@tier.notes) %></dd>
	</dl>
</div>

<div class="col-md-6">
	<dl class="dl-horizontal">
		<% unless @tier.tiers_type_id==3 %>
			<dt>
				<%= link_to "/biens?tiers=#{@tier.id}", class: "btn btn-info" do %>
					<i class="fa fa-home fa-2x"></i>
					<%= " - #{@maison_count} #{@maison_count>1 ? 'biens' : 'bien'}" %>
				<% end %>
			</dt>
    <% else %>
      <dt>
        <%= link_to @factures_url, class: "btn btn-info" do %>
          <i class="fa fa-euro fa-2x"></i>
          <%= " - #{@factures_count} #{@factures_count>1 ? 'factures' : 'facture'}" %>
        <% end %>
      </dt>
		<% end %>
		<dd>
			<%= link_to @travaux_url, class: "btn btn-warning" do %>
				<i class="fa fa-wrench fa-2x"></i>
				<%= " - #{@travaux_count} #{@travaux_count>1 ? 'travaux' : 'travail'} en cours" %>
			<% end %>
		</dd>
	</dl>
</div>

<div class="col-md-12">
	<%= link_to t('.back', :default => t("helpers.links.back")),
		            tiers_path, :class => 'btn btn-default'  %>
	<%= link_to t('.edit', :default => t("helpers.links.edit")),
		            edit_tier_path(@tier), :class => 'btn btn-primary' %>

</div>
