<%= form_for @societe, :html => { :class => "form-horizontal societe" } do |f| %>

    <% if @societe.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@societe.errors.count, "error") %> prohibited this societe from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @societe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

	<div class="col-md-6">
		<div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
				<%= f.text_field :nom, class: "form-control", placeholder: "Nom", title: "Nom"%>
			</div>
		  <%= error_span(@societe[:nom]) %>
		</div>
		<div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-home fa-fw"></i></span>
				<%= f.text_field :adresse, class: "form-control", placeholder: "Adresse", title: "Adresse"%>
			</div>
		  <%= error_span(@societe[:adresse]) %>
		</div>
		<div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-home fa-fw"></i></span>
				<%= f.text_field :cp, class: "form-control", placeholder: "Code postal", title: "Code postal"%>
			</div>
		  <%= error_span(@societe[:cp]) %>
		</div>
		<div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-home fa-fw"></i></span>
				<%= f.text_field :ville, class: "form-control", placeholder: "Ville", title: "Ville"%>
			</div>
		  <%= error_span(@societe[:ville]) %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
				<%= f.text_field :tel, class: "form-control", placeholder: "Téléphone", title: "Téléphone"%>
			</div>
		  <%= error_span(@societe[:tel]) %>
		</div>
		<div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-fax fa-fw"></i></span>
				<%= f.text_field :fax, class: "form-control", placeholder: "Fax", title: "Fax"%>
			</div>
		  <%= error_span(@societe[:fax]) %>
		</div>
		<div class="control-group">
		  <div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
				<%= f.text_field :mail, class: "form-control", placeholder: "Email", title: "Email"%>
			</div>
		  <%= error_span(@societe[:mail]) %>
		</div>
    <div class="control-group">
      <div class="field input-group">
        <span class="input-group-addon"><%= f.check_box :envoi_mail %>.</span>
        <p class="form-control">Activer l'envoi d' email</p>
      </div>
    </div>
	</div>
  <div class="col-md-6">
    <div class="field">
      <%= image_tag @societe.logo.url(:medium), class: "img-responsive" if @societe.logo?%>
      <%= f.file_field :logo %>
    </div>
  </div>

	<div class="col-md-12">
		<%= f.submit "Valider", :class => 'btn btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
		          :back, :class => 'btn btn-default' %>
	</div>
<% end %>
