<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="col-md-6">
		<div class="field input-group">
		  <span class="input-group-addon"><i class="fa fa-gear fa-fw"></i></span>
			<%= f.text_field :login, class: "form-control", placeholder: "Login"%>
		</div>
		<div class="field input-group">
		  <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
			<%= f.text_field :name, class: "form-control", placeholder: "Nom et prénom"%>
		</div>
		<div class="field input-group">
		  <span class="input-group-addon"><i class="fa fa-graduation-cap fa-fw"></i></span>
			<%= f.text_field :job, class: "form-control", placeholder: "Poste occupé"%>
		</div>
		<div class="field input-group">
			<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
			<%= f.text_field :email, class: "form-control", placeholder: "Email"%>
		</div>
    <div class="field input-group">
			<span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
			<%= f.text_field :tel, class: "form-control", placeholder: "Téléphone"%>
		</div>
		<div class="field input-group">
			<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
			<%= f.password_field :password, class: "form-control", placeholder: "Mot de passe"%>
		</div>
		<div class="field input-group">
			<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
			<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirmation du mot de passe"%>
		</div>
		<% if current_user.admin %>
			<div class="field input-group">
				<span class="input-group-addon"><%= f.check_box :admin %>.</span>
				<p class="form-control">Administrateur</p>
			</div>
		<% end %>
    <div class="field input-group">
      <span class="input-group-addon"><%= f.check_box :superviseur %>.</span>
      <p class="form-control">Superviseur général</p>
    </div>
		<div class="control-group">
			<div class="field input-group">
				<span class="input-group-addon"><i class="fa fa-globe fa-fw"></i></span>
				<%= f.select(:timezone, [], {}, {class: "form-control"}) do %>
					<% ActiveSupport::TimeZone.all.each do |tz| %>
						<%= content_tag(:option, "#{tz.name}", value: tz.name, selected: (tz.name==@user.timezone)) %>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="field input-group">
		  <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
			<%= f.text_area :signature, class: "form-control", placeholder: "Signature"%>
		</div>
	</div>
	<div class="col-md-6">
		<div class="field">
			<%= image_tag @user.avatar.url(:medium), class: "img-responsive" if @user.avatar?%>
			<%= f.file_field :avatar %>
		</div>
	</div>
	<div class="col-md-12">
		<div class="actions">
		  <% if @user.id %>
		  	<%= f.submit "Modifier", :class => 'btn btn-primary' %>
		  	<%= link_to 'Annuler', @user %>
		  <% else %>
				<%= f.submit "Créer", :class => 'btn btn-primary' %>
				<%= link_to 'Annuler', users_path %>
		  <% end %>
		</div>
	</div>
<% end %>
