<%= form_for @bien, :html => { :class => "form-horizontal bien" } do |f| %>

    <% if @bien.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@bien.errors.count, "error") %> prohibited this bien from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @bien.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="col-md-12">
    <div class="control-group">
      <div class="field input-group">
  			<span class="input-group-addon"><i class="fa fa-tag fa-fw"></i></span>
  			<%= f.text_field :ref, class: "form-control", placeholder: "Référence", title: "Référence"%>
  		</div>
      <%= error_span(@bien[:ref]) %>
    </div>
    <div class="control-group">
      <div class="field input-group">
  			<span class="input-group-addon"><i class="fa fa-home fa-fw"></i></span>
        <%= f.select(:bien_type_id, [], {}, :class => 'form-control') do %>
        	<% @types.each do |type| %>
        		<%= content_tag(:option, type.nom, value: type.id, selected: (type.id==@bien[:bien_type_id])) %>
        	<% end %>
        <% end %>
      </div>
      <%= error_span(@bien[:bien_type_id]) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="control-group">
    	<%= f.label "Propriétaire", :class => 'control-label' %><br/>
      <div class="field input-group">
  			<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
  		  <%= f.select(:proprietaire_id, [], {}, :class => 'form-control') do %>
  		  	<%= content_tag(:option, '', value: '') %>
  		  	<% @proprietaires.each do |p| %>
  		  		<%= content_tag(:option, p.nom_complet, value: p.id, selected: (p.id==@bien[:proprietaire_id])) %>
  		  	<% end %>
  		  <% end %>
      </div>
      <%= error_span(@bien[:proprietaire_id]) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="control-group">
    	<%= f.label "Copropriétaire", :class => 'control-label' %><br/>
      <div class="field input-group">
  			<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
  		  <%= f.select(:coproprietaire_id, [], {}, :class => 'form-control') do %>
  		  	<%= content_tag(:option, '', value: '') %>
  		  	<% @proprietaires.each do |p| %>
  		  		<%= content_tag(:option, p.nom_complet, value: p.id, selected: (p.id==@bien[:coproprietaire_id])) %>
  		  	<% end %>
  		  <% end %>
      </div>
      <%= error_span(@bien[:coproprietaire_id]) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="control-group">
      <%= f.label :locataire_id, :class => 'control-label' %>
      <div class="field input-group">
  			<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
  		  <%= f.select(:locataire_id, [], {}, :class => 'form-control') do %>
  		  	<%= content_tag(:option, '', value: '') %>
  		  	<% @locataires.each do |p| %>
  		  		<%= content_tag(:option, p.nom_complet, value: p.id, selected: (p.id==@bien[:locataire_id])) %>
  		  	<% end %>
  		  <% end %>
      </div>
      <%= error_span(@bien[:locataire_id]) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="control-group">
      <%= f.label :colocataire_id, :class => 'control-label' %>
      <div class="field input-group">
  			<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
  		  <%= f.select(:colocataire_id, [], {}, :class => 'form-control') do %>
  		  	<%= content_tag(:option, '', value: '') %>
  		  	<% @locataires.each do |p| %>
  		  		<%= content_tag(:option, p.nom_complet, value: p.id, selected: (p.id==@bien[:colocataire_id])) %>
  		  	<% end %>
  		  <% end %>
      </div>
      <%= error_span(@bien[:locataire_id]) %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="control-group">
      <%= f.label :syndic_id, :class => 'control-label' %>
      <div class="field input-group">
  			<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
  		  <%= f.select(:syndic_id, [], {}, :class => 'form-control') do %>
  		  	<%= content_tag(:option, '', value: '') %>
  		  	<% @syndics.each do |p| %>
  		  		<%= content_tag(:option, p.nom_complet, value: p.id, selected: (p.id==@bien[:syndic_id])) %>
  		  	<% end %>
  		  <% end %>
      </div>
      <%= error_span(@bien[:syndic_id]) %>
    </div>
    <div class="control-group">
      <div class="field input-group">
  			<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
  			<%= f.text_field :adresse, :class => 'form-control', placeholder: "Adresse" %>
  			<%= f.text_field :cp, :class => 'form-control', placeholder: "Code postal" %>
  			<%= f.text_field :ville, :class => 'form-control', placeholder: "Ville" %>
  		</div>
      <%= error_span(@bien[:adresse]) %>
    </div>

    <div class="control-group">
      <%= f.label :surf_hab, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :surf_hab, :class => 'form-control' %>
      </div>
      <%= error_span(@bien[:surf_hab]) %>
    </div>
    <div class="control-group">
      <%= f.label :surf_terr, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :surf_terr, :class => 'form-control' %>
      </div>
      <%= error_span(@bien[:surf_terr]) %>
    </div>
    <div class="control-group">
      <%= f.label :note, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :note, :class => 'form-control' %>
      </div>
      <%= error_span(@bien[:note]) %>
    </div>
  </div>
  <div class="col-md-12">
    <%= f.submit "Enregistrer", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              biens_path, :class => 'btn btn-default' %>
  </div>

<% end %>
