<script>
	app.controller('BiensList', function($scope) {
	  $scope.biens = gon.biens;
	  $scope.predicate = 'ref';
	  $scope.reverse = true;
	  $scope.order = function(predicate) {
	    $scope.reverse = ($scope.predicate === predicate) ? !$scope.reverse : false;
	    $scope.predicate = predicate;
	  };
	  $scope.filter_show = true;
	  $scope.go = function(id) {
			window.document.location = '/biens/'+id;
		};
	});
</script>

<%- model_class = Bien -%>
<div class="titre_actif">
  <h1><%= @titre %></h1>
</div>
<div ng-controller="BiensList">
	<table class="table table-striped table-hover">
		<thead>
		  <tr>
		  	<th>
				  <a href="" ng-click="order('ref')">Réf.</a>
				  <span class="sortorder" ng-show="predicate === 'ref'" ng-class="{reverse:reverse}"></span>
				</th>
				<th>
				  <a href="" ng-click="order('type')">Type</a>
				  <span class="sortorder" ng-show="predicate === 'type'" ng-class="{reverse:reverse}"></span>
				</th>
				<th>
				  <a href="" ng-click="order('ville')">Ville</a>
				  <span class="sortorder" ng-show="predicate === 'ville'" ng-class="{reverse:reverse}"></span>
				</th>
				<th>
				  <a href="" ng-click="order('proprietaire')">Propriétaires</a>
				  <span class="sortorder" ng-show="predicate === 'proprietaire'" ng-class="{reverse:reverse}"></span>
				</th>
				<th>
				  <a href="" ng-click="order('locataire')">Locataires</a>
				  <span class="sortorder" ng-show="predicate === 'locataire'" ng-class="{reverse:reverse}"></span>
				</th>
			</tr>
		  <tr ng-show="filter_show">
				<td><input class="recherche form-control" ng-model="search.ref" autofocus></td>
				<td><input class="recherche form-control" ng-model="search.type"></td>
				<td><input class="recherche form-control" ng-model="search.ville"></td>
				<td><input class="recherche form-control" ng-model="search.proprietaire"></td>
				<td><input class="recherche form-control" ng-model="search.locataire"></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="bien in biens | filter:search | orderBy:predicate:reverse" ng-click="go(bien.id)">
		    	<td>{{bien.ref}}</td>
		      <td>{{bien.type}}</td>
		      <td>{{bien.ville}}</td>
		      <td>{{bien.proprietaire}}</td>
		      <td>{{bien.locataire}}</td>
	    </tr>
		</tbody>
	</table>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bien_path,
            :class => 'btn btn-primary' %>
