<%- model_class = Bien -%>
<div class="col-md-12">
	<div class="titre_actif">
		<h1><%= "#{@bien.nom} (#{@bien.ref})" %></h1>
	</div>
</div>
<div class="col-md-12">
	<dl class="dl-horizontal">
		<div class="well">
			<dt><strong><%= model_class.human_attribute_name(:proprietaire_id) %>:</strong></dt>
			<dd><%=  (@bien.proprietaire_id ? link_to(@bien.proprietaire.nom_complet, tier_path(@bien.proprietaire_id)) : '') %></dd>
			<dt><strong><%= model_class.human_attribute_name(:coproprietaire_id) %>:</strong></dt>
			<dd><%=  (@bien.coproprietaire_id ? link_to(@bien.coproprietaire.nom_complet, tier_path(@bien.coproprietaire_id)) : '') %></dd>
			<dt><strong><%= model_class.human_attribute_name(:locataire_id) %>:</strong></dt>
			<dd><%= (@bien.locataire_id ? link_to(@bien.locataire.nom_complet, tier_path(@bien.locataire)) : '') %></dd>
			<dt><strong><%= model_class.human_attribute_name(:colocataire_id) %>:</strong></dt>
			<dd><%= (@bien.colocataire_id ? link_to(@bien.colocataire.nom_complet, tier_path(@bien.colocataire)) : '') %></dd>
			<dt><strong><%= model_class.human_attribute_name(:syndic_id) %>:</strong></dt>
			<dd><%= (@bien.syndic_id ? link_to(@bien.syndic.nom_complet, tier_path(@bien.syndic)) : '') %></dd>
		</div>
		<dt><strong><%= model_class.human_attribute_name(:adresse) %>:</strong></dt>
		<dd><%= simple_format(@bien.adresse_complete) %></dd>
		<div>
			<br>
			<dd>
				<%= link_to "/travaux?bien=#{@bien.id}", class: "btn btn-warning" do %>
						<i class="fa fa-wrench fa-2x"></i>
						<%= " - #{@travaux_count} #{@travaux_count>1 ? 'travaux' : 'travail'} en cours" %>
				<% end %>
			</dd>
		</div>
	</dl>
</div>

<% unless @bien.note.to_s.empty? %>
	<div class="col-md-12">
		<dt><strong><%= model_class.human_attribute_name(:note) %>:</strong></dt>
		<dd><%= simple_format(@bien.note) %></dd>
		<br/>
	</div>
<% end %>
<div class="col-md-12">
	<%= link_to t('.back', :default => t("helpers.links.back")),
		            biens_path, :class => 'btn btn-default'  %>
	<%= link_to t('.edit', :default => t("helpers.links.edit")),
		            edit_bien_path(@bien), :class => 'btn btn-primary' %>

</div>
