<div class="titre_actif">
	<h1>Messagerie</h1>
</div>

<% @messages.each do |m| %>
	<% ligne = m.travaux_ligne %>
	<dt class="grey">
		<strong>
			<%= I18n.l ligne.created_at.in_time_zone(current_user.timezone), format: :long_datetime %>:
			<%= link_to "#{ligne.travail.travaux_type.nom} - #{ligne.travail.bien.nom} - #{ligne.travail.bien.proprietaire ? ligne.travail.bien.proprietaire.nom_complet : ''} - #{ligne.travail.bien.locataire ? ligne.travail.bien.locataire.nom_complet : ''}", ligne.travail %>
		</strong>
	</dt>
	<dd class="container_ligne">
		<div class="ligne_travaux well" onclick="">
			<%= simple_format(ligne.detail) %>
		</div>
		<div class="useravatar">
			<%= image_tag ligne.user.avatar.url(:thumb), class: "img-responsive image_ronde", title: "par #{ligne.user.name}" %>
		</div>
	</dd>
<% end %>

<% if @messages.count<1 %>
	<div class="well">Votre boîte est vide.<br/>Elle se remplira lorsqu'un message sera saisi sur un travail dont vous êtes le superviseur.</div>
<% end %>
