<div class="titre_actif">
	<h1>Configuration</h1>
</div>
<p><%= link_to "Statuts de travaux", travaux_statuts_path %></p>
<p><%= link_to "Types de travaux", travaux_types_path %></p>
<p><%= link_to "Types de biens", bien_types_path %></p>
<p><%= link_to "Utilisateurs", users_path %></p>
<p><%= link_to "Societe", "/societes/1/edit" %></p>
<p><%= link_to "Importations", "/importations" %></p>
