<div class="col-md-12 bloc_bleu">
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead align="center">
				<tr>
					<th>Artisans</th>
					<th>Dde</th>
					<th>Devis</th>
          <th>Info Bail.</th>
					<th>Retour Bail.</th>
					<th>Accord Art.</th>
					<th>Fin trvx</th>
					<th>Facture</th>
          <th>BPP</th>
					<th>Payée</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @prestataires.each do |artisan| %>
					<% @travaux_artisan = artisan %>
					<tr align="left">
						<td><%= link_to(artisan.tier.nom_complet, tier_path(artisan.tier_id)) %></td>
						<td>
							<% if artisan.demande %>
								<i id="glyph_demande_<%=artisan.id%>" class="fa fa-check-circle fa-2x green"></i>
							<% elsif !@travail.cancel %>
								<i id="glyph_demande_<%=artisan.id%>" data-id="<%=artisan.id%>" data-email="<%=artisan.tier.email%>" data-email-user="<%= current_user.email %>" data-email-proprietaire="<%=artisan.travail.bien.proprietaire.email%>" data-email-locataire="<%=(artisan.travail.bien.locataire ? artisan.travail.bien.locataire.email : '')%>" class="fa fa-times-circle fa-2x check red" data-toggle="modal" data-target="#demandeModal" title="Envoyer une demande d'intervention à l'artisan"></i>
							<% end %>
						</td>
						<td>
							<% if artisan.demande and artisan.fi_devis%>
								<% if artisan.devis? %>
									<%= link_to artisan.devis.url, target: "_blank" do %>
										<i id="glyph_devis_<%=artisan.id%>" class="fa fa-check-circle fa-2x green"></i>
									<% end %>
								<% elsif !@travail.cancel %>
									<i class="fa fa-times-circle fa-2x check red" onclick="this.className='fa fa-cog fa-spin fa-2x green';$('#devis<%=artisan.id%>').trigger('click');" title="Réception du devis de l'artisan"></i>
								<% end %>
							<% end %>
							<div hidden><%= render :partial => 'travaux_artisans/form'  %></div>
						</td>
            <td>
							<% if artisan.devis? %>
	              <% if artisan.bailleur %>
									<i id="glyph_bailleur_<%=artisan.id%>" class="fa fa-check-circle fa-2x green"></i>
								<% elsif !@travail.cancel %>
									<i id="glyph_bailleur_<%=artisan.id%>" class="fa fa-times-circle fa-2x check red" data-id="<%=artisan.id%>" data-email="<%=artisan.travail.bien.proprietaire.email%>" data-toggle="modal" data-target="#bailleurModal" title="Envoyer le devis au bailleur"></i>
								<% end %>
							<% end %>
						</td>
						<td>
							<% if artisan.bailleur %>
	              <% if artisan.accord_bailleur %>
									<i id="glyph_retour_bailleur_<%=artisan.id%>" class="fa fa-check-circle fa-2x green"></i>
								<% elsif !@travail.cancel %>
									<i id="glyph_retour_bailleur_<%=artisan.id%>" class="fa fa-times-circle fa-2x check red" data-id="<%=artisan.id%>" data-toggle="modal" data-target="#retourBailleurModal" title="Saisir le retour du bailleur"></i>
								<% end %>
							<% end %>
						</td>
						<td>
							<% if artisan.accord_bailleur %>
								<% if artisan.accord? %>
									<%= link_to artisan.accord.url, target: "_blank" do %>
										<i id="glyph_accord_<%=artisan.id%>" class="fa fa-check-circle fa-2x green"></i>
									<% end %>
								<% elsif !@travail.cancel %>
									<i id="glyph_accord_<%=artisan.id%>" class="fa fa-times-circle fa-2x check red" data-id="<%=artisan.id%>" data-email="<%=artisan.tier.email%>" data-toggle="modal" data-target="#accordModal" title="Envoyer le bon pour accord à l'artisan"></i>
								<% end %>
							<% end %>
						</td>
						<td>
							<% if artisan.demande %>
								<% if artisan.fin_travaux? %>
									<%= link_to artisan.fin_travaux.url, target: "_blank" do %>
										<i id="glyph_fin_travaux_<%=artisan.id%>" class="fa fa-check-circle fa-2x green"></i>
									<% end %>
								<% elsif !@travail.cancel %>
									<i id="glyph_fin_travaux_<%=artisan.id%>" class="fa fa-times-circle fa-2x check red" onclick="this.className='fa fa-cog fa-spin fa-2x green';$('#fin_travaux<%=artisan.id%>').trigger('click');" title="Valider la fin des travaux avec la fiche d'intervention signée"></i>
								<% end %>
							<% end %>
						</td>
						<td>
							<% if artisan.fin_travaux? %>
								<% if artisan.facture? %>
									<%= link_to artisan.facture.url, target: "_blank" do %>
										<i id="glyph_facture_<%=artisan.id%>" class="fa fa-check-circle fa-2x green"></i>
									<% end %>
								<% elsif !@travail.cancel %>
									<i class="fa fa-times-circle fa-2x check red" onclick="this.className='fa fa-cog fa-spin fa-2x green';$('#facture<%=artisan.id%>').trigger('click');" title="Réception de la facture de l'artisan"></i>
								<% end %>
							<% end %>
						</td>
            <td>
							<% if artisan.facture? %>
	              <% if artisan.bon_pour_paiement %>
									<i id="glyph_bon_pour_paiement_<%=artisan.id%>" class="fa fa-check-circle fa-2x green"></i>
								<% elsif !@travail.cancel %>
									<i id="glyph_bon_pour_paiement_<%=artisan.id%>" class="fa fa-times-circle fa-2x check red" data-id="<%=artisan.id%>" data-toggle="modal" data-target="#bppModal" title="Envoyer le bon pour paiement"></i>
								<% end %>
							<% end %>
						</td>
						<td>
							<% if artisan.bon_pour_paiement %>
								<% if artisan.paye %>
									<i id="glyph_paye_<%=artisan.id%>" class="fa fa-check-circle fa-2x green"></i>
								<% elsif !@travail.cancel %>
									<i class="fa fa-times-circle fa-2x check red" onclick="this.className='fa fa-cog fa-spin fa-2x green';$('#paye<%=artisan.id%>').trigger('click');" title="Facture payée"></i>
								<% end %>
							<% end %>
						</td>
						<td>
							<% unless artisan.demande %>
                <%= link_to artisan, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir supprimer cet artisan ?' } do %>
  								<i class="fa fa-trash-o fa-2x"></i>
  							<% end %>
              <% end %>
						</td>
					</tr>
				<% end %>
				<% unless @travail.cancel %>
					<tr align="left">
						<td colspan="11">
							<% @travaux_artisan = TravauxArtisan.new %>
							<%= form_for(@travaux_artisan) do |f| %>
								<%= f.number_field :travail_id, hidden: true, value: @travail.id %>
								<%= f.select(:tier_id, [], {}, {class: "form-control", onchange: "$('#submitnew').trigger('click');"}) do %>
									<%= content_tag(:option, '', value: '') %>
									<% @artisans.each do |artisan| %>
										<%= content_tag(:option, artisan.nom_complet, value: artisan.id) %>
									<% end %>
								<% end %>
								<%= f.submit id: 'submitnew', hidden: true %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="modal fade" id="demandeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-label="close">&times;</button>
        <h4 class="modal-title">Envoi d'une demande de travaux</h4>
      </div>
      <div class="modal-body">
				<div class="bloc_bleu">
					<h2><%= check_box_tag "demandeModalCheckMail", "1", true, id:"demandeModalCheckMail" %> Mail</h2>
					<div id="demandeModalHidden">
						<div class="field input-group">
		          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
		          <%= text_field_tag "demandeModalTo", nil, class: "form-control", placeholder: "Adresses des destinataires", id:"demandeModalTo",  readonly: true %>
		        </div>
						<div class="col-md-4">
							<div class="field input-group">
					      <span class="input-group-addon"><%= check_box_tag "demandeModalCcProprietaire", "1", false, id:"demandeModalCcProprietaire" %></span>
					      <p class="form-control" id="demandeModalCcProprietaireLabel">Copie au propriétaire</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="field input-group">
					      <span class="input-group-addon"><%= check_box_tag "demandeModalCcLocataire", "1", false, id:"demandeModalCcLocataire" %></span>
					      <p class="form-control" id="demandeModalCcLocataireLabel">Copie au locataire</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="field input-group">
					      <span class="input-group-addon"><%= check_box_tag "demandeModalCcUser", "1", false, id:"demandeModalCcUser" %></span>
					      <p class="form-control">Copie à soi-même</p>
							</div>
						</div>
		        <div class="field input-group col-md-12">
		          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
		          <%= text_area_tag "demandeModalMessage", @email, class: "form-control", placeholder: "Message", rows: "20", id: "demandeModalMessage" %>
		        </div>
					</div>
				</div>
				<div class="bloc_bleu">
					<h2>Fiche d'intervention</h2>
					<div class="col-md-6">
						<div class="field input-group">
				      <span class="input-group-addon"><%= check_box_tag "demandeModalFiDevis", "1", true, id:"demandeModalFiDevis" %></span>
				      <p class="form-control">Devis avant travaux</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="field input-group" id="demandeModalMontantHidden">
				      <span class="input-group-addon"><i class="fa fa-euro fa-fw"></i></span>
				      <%= text_field_tag "demandeModalMontant", nil, class: "form-control", placeholder: "Montant minimum pour devis", id:"demandeModalMontant" %>
						</div>
					</div>
					<div class="field input-group col-md-12">
						<span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
	          <%= text_area_tag "demandeModalFiDetails", nil, class: "form-control", placeholder: "Anomalies constatées / Travaux à réaliser", rows: "3", id: "demandeModalFiDetails" %>
					</div>
				</div>
      </div>
      <div class="modal-footer">
        <button id="demandeModalMailButton" class="btn btn-primary" data-dismiss="modal" aria-label="close">Envoyer la demande par mail</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bailleurModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-label="close">&times;</button>
        <h4 class="modal-title">Envoi du devis au bailleur</h4>
      </div>
      <div class="modal-body">
				<div class="bloc_bleu">
					<h2><%= check_box_tag "bailleurModalCheckMail", "1", true, id:"bailleurModalCheckMail" %> Mail</h2>
					<div id="bailleurModalHidden">
						<div class="field input-group">
		          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
		          <%= text_field_tag "bailleurModalTo", nil, class: "form-control", placeholder: "Adresses des destinataires", id:"bailleurModalTo",  readonly: true %>
		        </div>
		        <div class="field input-group">
		          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
		          <%= text_area_tag "bailleurModalMessage", @email_bailleur, class: "form-control", placeholder: "Message", rows: "20", id: "bailleurModalMessage" %>
		        </div>
					</div>
				</div>
      </div>
      <div class="modal-footer">
        <button id="bailleurModalMailButton" class="btn btn-primary" data-dismiss="modal" aria-label="close">Envoyer le devis par mail</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="retourBailleurModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-label="close">&times;</button>
        <h4 class="modal-title">Retour du bailleur</h4>
      </div>
      <div class="modal-body">
        <div class="field input-group">
          <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
          <%= text_area_tag "retourBailleurMessageModal", nil, class: "form-control", placeholder: "Message", rows: "20", id: "retourBailleurMessageModal" %>
        </div>
				<button id="retourBailleurFichierModal" class="btn btn-primary">Ajouter une pièce jointe</button>
				<br/>
				<div class="field input-group">
					<span class="input-group-addon"><%= check_box_tag "retourBailleurBooleanModal", "1", true, id:"retourBailleurBooleanModal" %>.</span>
					<p class="form-control">Bon pour accord</p>
				</div>
      </div>
      <div class="modal-footer">
        <button id="retourBailleurModalButton" class="btn btn-primary" data-dismiss="modal" aria-label="close">Valider</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="accordModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-label="close">&times;</button>
        <h4 class="modal-title">Envoi le bon pour accord à l'artisan</h4>
      </div>
      <div class="modal-body">
				<div class="bloc_bleu">
					<h2><%= check_box_tag "accordModalCheckMail", "1", true, id:"accordModalCheckMail" %> Mail</h2>
					<div id="accordModalHidden">
						<div class="field input-group">
		          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
		          <%= text_field_tag "accordModalTo", nil, class: "form-control", placeholder: "Adresses des destinataires", id:"accordModalTo",  readonly: true%>
		        </div>
		        <div class="field input-group">
		          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
		          <%= text_area_tag "accordModalMessage", @email_accord, class: "form-control", placeholder: "Message", rows: "20", id: "accordModalMessage" %>
		        </div>
					</div>
				</div>
      </div>
      <div class="modal-footer">
        <button id="accordModalMailButton" class="btn btn-primary" data-dismiss="modal" aria-label="close">Envoyer le bon pour accord automatiquement signé par mail</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bppModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-label="close">&times;</button>
        <h4 class="modal-title">Bon pour paiement</h4>
      </div>
      <div class="modal-body">
				<div class="bloc_bleu">
					<div id="bppModalHidden">
						<div class="control-group">
							<div class="field input-group">
								<span class="input-group-addon"><i class="fa fa-euro fa-fw"></i></span>
								<select class="form-control" id="bppModalSelect" name="bppModalSelect">
									<option value="DG">Dépôt de garantie</option>
									<option value="LO">Loyer</option>
									<option value="PR">Propriétaire</option>
									<option value="AS">Assurance</option>
								</select>
							</div>
						</div>
					</div>
				</div>
      </div>
      <div class="modal-footer">
        <button id="bppModalValidate" class="btn btn-primary" data-dismiss="modal" aria-label="close">Valider</button>
      </div>
    </div>
  </div>
</div>
