<div class="col-md-12 cadre_bleu">
	<div class="col-md-6">
		<dl class="dl-horizontal">
			<dt><strong>Bien :</strong></dt>
			<dd><%= link_to @travail.bien.nom_ref, bien_path(@travail.bien_id) %></dd>
			<dt><strong>Type de travail:</strong></dt>
			<dd><%= @travail.travaux_type.nom %></dd>
			<dt><strong>Date de création:</strong></dt>
			<dd><%= @travail.created_at.in_time_zone(current_user.timezone).strftime("%d/%m/%Y %H:%M") %></dd>
			<dt><strong>Créateur:</strong></dt>
			<dd><%= image_tag @travail.user.avatar.url(:thumb), class: "image_ronde_petite", title: "Créé par #{@travail.user.name}" %></dd>
		</dl>
	</div>
	<div class="col-md-6">
		<dl class="dl-horizontal">
			<dt><strong>Propriétaires:</strong></dt>
			<dd>
				<%= (@travail.bien.proprietaire_id ? link_to(@travail.bien.proprietaire.nom_complet, tier_path(@travail.bien.proprietaire_id)) : '') %>
				<%= (@travail.bien.coproprietaire_id ? link_to(@travail.bien.coproprietaire.nom_complet, tier_path(@travail.bien.coproprietaire_id)) : '') %>
			</dd>
			<dt><strong>Locataires:</strong></dt>
			<dd>
				<%= (@travail.bien.locataire_id ? link_to(@travail.bien.locataire.nom_complet, tier_path(@travail.bien.locataire_id)) : '') %>
				<%= (@travail.bien.colocataire_id ? link_to(@travail.bien.colocataire.nom_complet, tier_path(@travail.bien.colocataire_id)) : '') %>
			</dd>
			<dt><strong>Syndic:</strong></dt>
			<dd><%= (@travail.bien.syndic_id ? link_to(@travail.bien.syndic.nom_complet, tier_path(@travail.bien.syndic_id)) : '') %></dd>
			<dt><strong>Superviseurs:</strong></dt>
			<dd>
				<% @superviseurs.each do |superviseur| %>
					<% if superviseur.user_id==current_user.id %>
            <%= link_to image_tag(superviseur.user.avatar.url(:thumb), class: "image_ronde_petite", title: superviseur.user.name), superviseur, method: :delete, data: { confirm: 'Voulez-vous vous retirer de la liste des superviseurs pour ce travail ?' } %>
          <% else %>
              <%= image_tag(superviseur.user.avatar.url(:thumb), class: "image_ronde_petite", title: superviseur.user.name) %>
          <% end %>
				<% end %>
				<% @superviseur = Superviseur.new %>
				<% @superviseur.travail_id = @travail.id %>
				<% @superviseur.user_id = current_user.id %>
				<div hidden="true">
					<%= render :partial => 'superviseurs/form' %>
				</div>
				<% unless @travail.cancel %>
					<i class="fa fa-plus" onclick="$('#superviseurSubmitButton').trigger('click');" title="S'ajouter à la liste des superviseurs: permet de recevoir des notifications lors de changements sur ce travail"></i>
				<% end %>
			</dd>
		</dl>
		<% unless @travail.cancel %>
			<% if @supprimable %>
					<p align="right"><%= link_to 'Supprimer', @travail, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir supprimer définitivement ce travail ?' }, :class => 'btn btn-danger' %></p>
			<% elsif @travail.travaux_statut.ordre<6.0 %>
					<p align="right"><button class='btn btn-danger' data-toggle="modal" data-target="#cancelModal">Annuler le travail</button></p>
					<div hidden><%= render :partial => 'travaux/form_cancel'  %></div>
			<% end %>
		<% end %>
	</div>
</div>

<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-label="close">&times;</button>
        <h4 class="modal-title">Annulation du travail</h4>
      </div>
      <div class="modal-body">
        <div class="field input-group">
          <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
          <%= text_area_tag "raisonCancelModal", nil, class: "form-control", placeholder: "Raisons de l'annulation", rows: "20", id: "raisonCancelModal" %>
        </div>
      </div>
      <div class="modal-footer">
        <button id="cancelModalButton" class="btn btn-primary">Annuler le travail</button>
      </div>
    </div>
  </div>
</div>
