<%= form_for @travail, :html => { :class => "form-horizontal travail" } do |f| %>

    <% if @travail.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@travail.errors.count, "error") %> prohibited this travail from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @travail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <div class="field input-group">
      <span class="input-group-addon"><i class="fa fa-home fa-fw"></i></span>
      <%= f.select(:bien_id, [], {}, {class: "form-control"}) do %>
        <% @biens.each do |bien| %>
          <%= content_tag(:option, bien.nom_ref, value: bien.id, selected: (bien.id==@travail[:bien_id])) %>
        <% end %>
      <% end %>
      <%= error_span(@travail[:bien_id]) %>
    </div>
  </div>

  <div class="control-group">
    <div class="field input-group">
      <span class="input-group-addon"><i class="fa fa-wrench fa-fw"></i></span>
      <%= f.select(:travaux_type_id, [], {}, {class: "form-control"}) do %>
        <% TravauxType.all.each do |type| %>
          <%= content_tag(:option, type.nom, value: type.id, selected: (type.id==@travail[:travaux_type_id])) %>
        <% end %>
      <% end %>
      <%= error_span(@travail[:travaux_type_id]) %>
    </div>
  </div>

	<%= f.submit "Valider", :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	          :back, :class => 'btn btn-default' %>


<% end %>
