<%= form_for @travail, :html => { :class => "form-horizontal travail" } do |f| %>

  <div class="control-group">
    <%= f.check_box :cancel, id: "checkCancel" %>
  </div>

  <div class="control-group">
    <%= f.text_area :cancel_raison, id: "raisonCancel" %>
  </div>

	<%= f.submit "Valider", :class => 'btn btn-primary', id: "validateCancel" %>

<% end %>
