<div class="col-md-12">
	<% @lignes.each do |ligne| %>
		<dt class="grey"><strong><%= I18n.l ligne.created_at.in_time_zone(current_user.timezone), format: :long_datetime %>:</strong></dt>
		<dd class="container_ligne">
			<% classe = ligne.message_automatique ? "ligne_travaux well" : "ligne_travaux well message" %>
      <% if ligne.piece_jointe? %>
        <div class="paperclip_block">
  				<%= link_to image_tag("paperclip.png", title: "Ouvrir la pièce jointe", class:"paperclip"), ligne.piece_jointe.url, target: "_blank" %>
  			</div>
      <% end %>
      <div class="<%=classe%>">
				<%= simple_format(ligne.detail) %>
			</div>
			<div class="useravatar">
				<%= image_tag ligne.user.avatar.url(:thumb), class: "img-responsive image_ronde", title: "par #{ligne.user.name}" %>
			</div>
		</dd>
	<% end %>
	<% unless @travail.cancel %>
	  <div class="bloc_bleu">
	  	<%= render :partial => 'travaux_lignes/form' %>
	  </div>
	<% end %>
</div>
