<div class="row bs-wizard" style="border-bottom:0;">
  <% i = 1 %>
  <% TravauxStatut.order(:ordre).each do |statut| %>
  	<div class="col-xs-<%= (i==1 or i==10) ? 2 : 1 %> bs-wizard-step <%= (@travail.travaux_statut.ordre==statut.ordre ? 'active' : (@travail.travaux_statut.ordre>statut.ordre ? 'complete' : 'disabled')) %>">
      <div class="progress"><div class="progress-bar"></div></div>
      <a class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center"><%= statut.nom %></div>
    </div>
    <% i += 1 %>
	<% end %>
</div>
