<script>
	app.controller('TravauxList', function($scope) {
	  $scope.travaux = gon.travaux;
	  $scope.predicate = 'ref';
	  $scope.reverse = true;
	  $scope.order = function(predicate) {
	    $scope.reverse = ($scope.predicate === predicate) ? !$scope.reverse : false;
	    $scope.predicate = predicate;
	  };
	  $scope.filter_show = true;
	  $scope.go = function(id) {
			window.document.location = '/travaux/'+id;
		};
	});
</script>

<%- model_class = Travail -%>
<div class="titre_actif">
  <h1><%= @titre %></h1>
</div>
<div ng-controller="TravauxList">
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>
						<a href="" ng-click="order('type')">Type</a>
						<span class="sortorder" ng-show="predicate === 'type'" ng-class="{reverse:reverse}"></span>
					</th>
					<th>
						<a href="" ng-click="order('statut')">Statut</a>
						<span class="sortorder" ng-show="predicate === 'statut'" ng-class="{reverse:reverse}"></span>
					</th>
					<th>
						<a href="" ng-click="order('date')">Date</a>
						<span class="sortorder" ng-show="predicate === 'date'" ng-class="{reverse:reverse}"></span>
					</th>
					<th>
						<a href="" ng-click="order('bien')">Bien</a>
						<span class="sortorder" ng-show="predicate === 'bien'" ng-class="{reverse:reverse}"></span>
					</th>
					<th>
						<a href="" ng-click="order('proprietaire')">Propriétaire</a>
						<span class="sortorder" ng-show="predicate === 'proprietaire'" ng-class="{reverse:reverse}"></span>
					</th>
					<th>
						<a href="" ng-click="order('locataire')">Locataire</a>
						<span class="sortorder" ng-show="predicate === 'locataire'" ng-class="{reverse:reverse}"></span>
					</th>
					<th>
						<a href="" ng-click="order('prestataires')">Artisans</a>
						<span class="sortorder" ng-show="predicate === 'prestataires'" ng-class="{reverse:reverse}"></span>
					</th>
				</tr>
				<tr ng-show="filter_show">
					<td><input class="recherche form-control" ng-model="search.type" autofocus></td>
					<td><input class="recherche form-control" ng-model="search.statut"></td>
					<td><input class="recherche form-control" ng-model="search.date"></td>
					<td><input class="recherche form-control" ng-model="search.bien"></td>
					<td><input class="recherche form-control" ng-model="search.proprietaire"></td>
					<td><input class="recherche form-control" ng-model="search.locataire"></td>
					<td><input class="recherche form-control" ng-model="search.prestataires" id="search_prestataires"></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="travail in travaux | filter:search | orderBy:predicate:reverse" ng-click="go(travail.id)">
		    	<td>{{travail.type}}</td>
		      <td>{{travail.statut}}</td>
		      <td>{{travail.date}}</td>
		      <td>{{travail.bien}}</td>
		      <td>{{travail.proprietaire}}</td>
		      <td>{{travail.locataire}}</td>
		      <td>{{travail.prestataires}}</td>
	    	</tr>
			</tbody>
		</table>
	</div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            @new_path,
            :class => 'btn btn-primary' %>
