<% if @travail.cancel %>
  <div class="ribbon_cancel"><span>ANNULÉ</span></div>
<% elsif @travail.travaux_statut.ordre>=6.0 %>
  <div class="ribbon_done"><span>TERMINÉ</span></div>
<% end %>

<%- model_class = Travail -%>
<div class="titre_actif">
  <h1><%= "#{@travail.travaux_type.nom} - #{@travail.bien.nom}" %></h1>
</div>

<%= render :partial => 'progress_bar'  %>
<%= render :partial => 'en_tete'  %>
<%= render :partial => 'bloc_artisans'  %>
<%= render :partial => 'messages'  %>
