<script>
	app.controller('FacturesList', function($scope) {
	  $scope.factures = gon.factures;
	  $scope.predicate = 'date';
	  $scope.reverse = true;
	  $scope.order = function(predicate) {
	    $scope.reverse = ($scope.predicate === predicate) ? !$scope.reverse : false;
	    $scope.predicate = predicate;
	  };
	  $scope.filter_show = true;
	});
</script>

<div class="titre_actif">
	<h1><%= @titre %></h1>
</div>

<div>
	<%= link_to 'Toutes les Factures', '/factures', class: "btn btn-primary btn-sm" %>
	<%= link_to 'Factures à payer', '/factures?bpp=1', class: "btn btn-warning btn-sm" %>
	<%= link_to 'Factures à envoyer', '/factures?send=1', class: "btn btn-success btn-sm" %>
</div>


	<br/>
	<div class="bloc_bleu">
		<%= link_to 'Depôt de garantie', "/factures?#{@sous_menu}=1&type_paiement=DG", class: "btn btn-success btn-sm" %>
		<%= link_to 'Loyer', "/factures?#{@sous_menu}=1&type_paiement=LO", class: "btn btn-info btn-sm" %>
		<%= link_to 'Propriétaire', "/factures?#{@sous_menu}=1&type_paiement=PR", class: "btn btn-warning btn-sm" %>
		<%= link_to 'Assurance', "/factures?#{@sous_menu}=1&type_paiement=AS", class: "btn btn-danger btn-sm" %>
	</div>


<div ng-controller="FacturesList">
	<div class="table-responsive">
		<table st-table="factures" class="table table-hover">
			<thead>
				<tr>
				  <th>
				    <a href="" ng-click="order('date')">Date réception</a>
				    <span class="sortorder" ng-show="predicate === 'date'" ng-class="{reverse:reverse}"></span>
				  </th>
					<th>
				    <a href="" ng-click="order('artisan')">Artisan</a>
				    <span class="sortorder" ng-show="predicate === 'artisan'" ng-class="{reverse:reverse}"></span>
				  </th>
				  <th>
				    <a href="" ng-click="order('bien')">Bien concerné</a>
				    <span class="sortorder" ng-show="predicate === 'bien'" ng-class="{reverse:reverse}"></span>
				  </th>
				  <th>
				    <a href="" ng-click="order('proprietaire')">Propriétaire</a>
				    <span class="sortorder" ng-show="predicate === 'proprietaire'" ng-class="{reverse:reverse}"></span>
				  </th>
				  <th>
				    <a href="" ng-click="order('locataire')">Locataire</a>
				    <span class="sortorder" ng-show="predicate === 'locataire'" ng-class="{reverse:reverse}"></span>
				  </th>
				  <th>
				    <a href="" ng-click="order('travaux')">Travaux</a>
				    <span class="sortorder" ng-show="predicate === 'travaux'" ng-class="{reverse:reverse}"></span>
				  </th>
					<th>
				    <a href="" ng-click="order('date_bpp')">Date BPP</a>
				    <span class="sortorder" ng-show="predicate === 'date_bpp'" ng-class="{reverse:reverse}"></span>
				  </th>
					<th></th>
					<th></th>
				</tr>
				<tr ng-show="filter_show">
					<td><input class="recherche form-control" ng-model="search.date"></td>
					<td><input class="recherche form-control" ng-model="search.artisan" autofocus></td>
					<td><input class="recherche form-control" ng-model="search.bien"></td>
					<td><input class="recherche form-control" ng-model="search.proprietaire"></td>
					<td><input class="recherche form-control" ng-model="search.locataire"></td>
					<td><input class="recherche form-control" ng-model="search.travaux"></td>
					<td><input class="recherche form-control" ng-model="search.date_bpp"></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="facture in factures | filter:search | orderBy:predicate:reverse" class="table_paiement_{{facture.type_paiement}}">
					<td>{{facture.date}}</td>
					<td><a href="/tiers/{{facture.artisan_id}}">{{facture.artisan}}</a></td>
					<td><a href="/biens/{{facture.bien_id}}">{{facture.bien}}</a></td>
					<td><a href="/tiers/{{facture.proprietaire_id}}">{{facture.proprietaire}}</a></td>
					<td><a href="/tiers/{{facture.locataire_id}}">{{facture.locataire}}</a></td>
					<td><a href="/travaux/{{facture.travaux_id}}">{{facture.travaux}}</a></td>
					<td>{{facture.date_bpp}}</td>
					<td>
						<a href={{facture.url}} target="_blank" title="Voir la facture">
							<button><i class="fa fa-file-text-o"></i></button>
						</a>
					</td>
					<td>
						<div>
							<form action="/factures/" method="post">
								<input type="text" name="id" value={{facture.id}} hidden>
							  <button type="submit" value="Submit" title="Marquer comme payée" ng-show={{facture.a_payer}}><i class="fa fa-euro"></i></button>
							</form>
						</div>
					</td>
					<td>
						<div>
							<button title="Envoyer la facture" ng-show={{facture.a_envoye}} data-id={{facture.id}} data-email={{facture.proprietaire_email}} data-message={{facture.email_facture}} data-toggle="modal" data-target="#emailFactureModal"><i class="fa fa-envelope-o"></i></button>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="10" class="text-center">
						<div st-pagination="" st-items-by-page="15" st-displayed-pages="7"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<div class="modal fade" id="emailFactureModal" tabindex="-1" role="dialog">
	<form action="/factures_envoye/" method="post">
		<div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button class="close" data-dismiss="modal" aria-label="close">&times;</button>
	        <h4 class="modal-title">Envoi la facture au propriétaire</h4>
	      </div>
	      <div class="modal-body">
					<div class="bloc_bleu">
						<h2><%= check_box_tag "emailFactureModalCheckMail", "1", true, id:"emailFactureModalCheckMail" %> Mail</h2>
						<%= text_field_tag "emailFactureModalId", nil, hidden: true %>
						<div id="emailFactureModalHidden">
							<div class="field input-group">
			          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
			          <%= text_field_tag "emailFactureModalTo", nil, class: "form-control", placeholder: "Adresses des destinataires", id:"emailFactureModalTo",  readonly: true%>
			        </div>
			        <div class="field input-group">
			          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
			          <%= text_area_tag "emailFactureModalMessage", nil, class: "form-control", placeholder: "Message", rows: "20", id: "emailFactureModalMessage" %>
			        </div>
						</div>
					</div>
	      </div>
	      <div class="modal-footer">
	        <button type="submit" value="Submit" id="emailFactureModalMailButton" class="btn btn-primary">Envoyer la facture par mail</button>
	      </div>
	    </div>
	  </div>
	</form>
</div>
