<div class="titre_actif">
	<h1>Statistiques</h1>
</div>

<div class="col-md-12">
	<div class="well2">
		<h2 class="sous_titre">Nombre de travaux par date</h2>
		<%= line_chart Travail.group(:created_at).count, library: {backgroundColor: "#f6f9fb"} %>
	</div>
</div>
<div class="col-md-6">
	<div class="well2">
		<h2 class="sous_titre">Tiers par type</h2>
		<%= pie_chart Tier.joins(:tiers_type).group("tiers_types.nom").count, library: {backgroundColor: "#f6f9fb"} %>
	</div>
</div>
<div class="col-md-6">
	<div class="well2">
		<h2 class="sous_titre">Biens par type</h2>
		<%= pie_chart Bien.joins(:bien_type).group("bien_types.nom").count, library: {backgroundColor: "#f6f9fb"} %>
	</div>
</div>
