<%= form_for(@importation) do |f| %>
  <% if @importation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@importation.errors.count, "error") %> prohibited this importation from being saved:</h2>

      <ul>
      <% @importation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titre %><br>
    <%= f.text_field :titre, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.select(:type, options_for_select(["Tiers", "Biens"]), class: "form-control") %>
  </div>
  <div class="field">
    <%= f.label :fichier %><br>
    <%= f.file_field :fichier %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
