<p id="notice"><%= notice %></p>

<h1>Listing Importations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Titre</th>
      <th>Fichier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @importations.each do |importation| %>
      <tr>
        <td><%= importation.user_id %></td>
        <td><%= importation.titre %></td>
        <td><%= importation.fichier %></td>
        <td><%= link_to 'Show', importation %></td>
        <td><%= link_to 'Edit', edit_importation_path(importation) %></td>
        <td><%= link_to 'Destroy', importation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Importation', new_importation_path %>
