<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @importation.user_id %>
</p>

<p>
  <strong>Titre:</strong>
  <%= @importation.titre %>
</p>

<p>
  <strong>Notes:</strong>
  <%= simple_format(@importation.notes) %>
</p>

<p>
  <strong>Fichier:</strong>
  <%= @importation.fichier %>
</p>

<%= link_to 'Edit', edit_importation_path(@importation) %> |
<%= link_to 'Back', importations_path %>
