<%= form_for @travaux_ligne, :html => { :class => "form-horizontal travaux_type" } do |f| %>

    <% if @travaux_ligne.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@travaux_ligne.errors.count, "error") %> prohibited this travaux_ligne from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @travaux_ligne.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <dt class="grey"><strong><%= I18n.l DateTime.now, format: :short_datetime %>:</strong></dt>
    <div class="controls">
      <%= f.text_area :detail, :class => 'form-control' %>
    </div>
    <%= error_span(@travaux_ligne[:detail]) %>
  </div>

  <%= f.text_field :travail_id, :hidden => true %>

  <div class="control-group">
    <dt class="grey"><strong><%= f.label :piece_jointe, :class => 'control-label' %>:</strong></dt>
    <div class="controls">
      <%= f.file_field :piece_jointe, :class => 'form-control' %>
    </div>
    <%= error_span(@travaux_ligne[:piece_jointe]) %>
  </div>
  <br/>
  <%= f.submit "Valider", :class => 'btn btn-primary' %>

<% end %>
