<%- model_class = TravauxLigne -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:detail) %>:</strong></dt>
  <dd><%= @travaux_ligne.detail %></dd>
  <dt><strong><%= model_class.human_attribute_name(:travail_id) %>:</strong></dt>
  <dd><%= @travaux_ligne.travail_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:piece_jointe) %>:</strong></dt>
  <dd><%= link_to @travaux_ligne.piece_jointe, @travaux_ligne.piece_jointe.url, :target => "_blank" %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              travaux_lignes_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_travaux_ligne_path(@travaux_ligne), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              travaux_ligne_path(@travaux_ligne),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
