<%= form_for(@travaux_artisan) do |f| %>
  <div class="field">
    <%= f.number_field :travail_id, hidden: true %>
  </div>
  <div class="field">
    <%= f.number_field :tier_id, hidden: true %>
  </div>

  <div class="field">
  	<%= f.file_field :devis, id: "devis#{@travaux_artisan.id}", style: "display:none", accept: 'application/pdf', onchange: "$('#submit#{@travaux_artisan.id}').trigger('click');" %>
  </div>
  <div class="field">
  	<%= f.check_box :bailleur, id: "bailleur#{@travaux_artisan.id}", style: "display:none", onclick: "$('#submit#{@travaux_artisan.id}').trigger('click');" %>
  </div>
  <div class="field">
  	<%= f.file_field :accord, id: "accord#{@travaux_artisan.id}", style: "display:none", accept: 'application/pdf', onchange: "$('#submit#{@travaux_artisan.id}').trigger('click');" %>
  </div>
  <div class="field">
  	<%= f.check_box :accord_check, id: "accord_check#{@travaux_artisan.id}", style: "display:none", onclick: "$('#submit#{@travaux_artisan.id}').trigger('click');" %>
  </div>
  <div class="field">
  	<%= f.file_field :facture, id: "facture#{@travaux_artisan.id}", style: "display:none", accept: 'application/pdf', onchange: "$('#submit#{@travaux_artisan.id}').trigger('click');" %>
  </div>
  <div class="field">
  	<%= f.check_box :demande, id: "demande#{@travaux_artisan.id}", style: "display:none", onclick: "$('#submit#{@travaux_artisan.id}').trigger('click');" %>
  </div>
  <div class="field">
  	<%= f.file_field :fin_travaux, id: "fin_travaux#{@travaux_artisan.id}", style: "display:none", accept:  'application/pdf', onchange: "$('#submit#{@travaux_artisan.id}').trigger('click');" %>
  </div>
  <div class="field">
  	<%= f.check_box :bon_pour_paiement, id: "bon_pour_paiement#{@travaux_artisan.id}", style: "display:none", onclick: "$('#submit#{@travaux_artisan.id}').trigger('click');" %>
  </div>
  <div class="field">
  	<%= f.check_box :paye, id: "paye#{@travaux_artisan.id}", style: "display:none", onclick: "$('#submit#{@travaux_artisan.id}').trigger('click');" %>
  </div>
  <div class="field">
  	<%= f.check_box :fi_devis, id: "fi_devis#{@travaux_artisan.id}" %>
  </div>
  <div class="field">
  	<%= f.text_area :fi_details, id: "fi_details#{@travaux_artisan.id}" %>
  </div>
  <div class="field">
  	<%= f.text_field :fi_montant, id: "fi_montant#{@travaux_artisan.id}" %>
  </div>
  <div class="field">
  	<%= f.check_box :accord_bailleur, id: "accord_bailleur#{@travaux_artisan.id}" %>
  </div>
  <div class="field">
  	<%= f.text_area :accord_bailleur_message, id: "accord_bailleur_message#{@travaux_artisan.id}" %>
  </div>
  <div class="field">
  	<%= f.file_field :accord_bailleur_fichier, id: "accord_bailleur_fichier#{@travaux_artisan.id}" %>
  </div>
  <div class="field">
  	<%= check_box_tag "retour_bailleur", nil, false, id: "retour_bailleur#{@travaux_artisan.id}", onclick: "$('#submit#{@travaux_artisan.id}').trigger('click');" %>
    <p>Valide retour</p>
  </div>
  <div class="field">
  	<%= text_field_tag "cc", nil, id: "cc#{@travaux_artisan.id}" %>
  </div>
  <div class="actions">
    <%= f.submit id: "submit#{@travaux_artisan.id}", hidden: true %>
  </div>
  <div class="field">
    <%= f.text_field :type_paiement, id: "type_paiement#{@travaux_artisan.id}" %>
  </div>

  <textarea name="mail" id=<%="mail#{@travaux_artisan.id}"%> style="display:none;" ></textarea>

<% end %>
