<p id="notice"><%= notice %></p>

<h1>Listing Travaux Artisans</h1>

<table>
  <thead>
    <tr>
      <th>Travail</th>
      <th>Tier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travaux_artisans.each do |travaux_artisan| %>
      <tr>
        <td><%= travaux_artisan.travail_id %></td>
        <td><%= travaux_artisan.tier_id %></td>
        <td><%= link_to 'Show', travaux_artisan %></td>
        <td><%= link_to 'Edit', edit_travaux_artisan_path(travaux_artisan) %></td>
        <td><%= link_to 'Destroy', travaux_artisan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travaux artisan', new_travaux_artisan_path %>
