<p id="notice"><%= notice %></p>

<p>
  <strong>Travail:</strong>
  <%= @travaux_artisan.travail_id %>
</p>

<p>
  <strong>Tier:</strong>
  <%= @travaux_artisan.tier_id %>
</p>

<%= link_to 'Edit', edit_travaux_artisan_path(@travaux_artisan) %> |
<%= link_to 'Back', travaux_artisans_path %>
