<%= form_for(@tiers_type) do |f| %>
  <% if @tiers_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tiers_type.errors.count, "error") %> prohibited this tiers_type from being saved:</h2>

      <ul>
      <% @tiers_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br>
    <%= f.text_field :nom %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
