<p id="notice"><%= notice %></p>

<h1>Listing Tiers Types</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tiers_types.each do |tiers_type| %>
      <tr>
        <td><%= tiers_type.nom %></td>
        <td><%= link_to 'Show', tiers_type %></td>
        <td><%= link_to 'Edit', edit_tiers_type_path(tiers_type) %></td>
        <td><%= link_to 'Destroy', tiers_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tiers type', new_tiers_type_path %>
