/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  margin-bottom: 10px;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 16px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 18px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
}

.btn.btn-primary {
	text-transform: uppercase;
	font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
  color: white;
}

.btn.btn-warning, .btn.btn-info, .btn.btn-danger, .btn.btn-success {
	text-transform: uppercase;
	font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
  color: white;
}

.btn.btn-default {
	text-transform: uppercase;
	font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
  color: #666;
}

.btn.btn-xs.btn-danger {
	color: white;
}

.titre_actif {
	color: #5b9bd1;
  background-color: #f6f9fb;
  padding: 6px;
  border-bottom: 2px solid #5b9bd1;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

.sous_titre {
	color: #5b9bd1;
	text-align: center;
}

.well2 {
	background-color: #f6f9fb;
	border-radius: 10px;
	border: 2px solid #5b9bd1;
	margin: 5px;
	padding: 10px;
}

.cadre_bleu {
	color: #5b9bd1;
  margin-bottom: 15px;
  padding-top: 10px;
}

.bloc_bleu {
	color: #5b9bd1;
  background-color: #f6f9fb;
  padding: 6px;
  border-bottom: 2px solid #5b9bd1;
  border-top: 2px solid #5b9bd1;
  margin-bottom: 15px;
}

.container_ligne {
	position: relative;
}

.ligne_travaux {
	margin-right: 45px;
}

.image_ronde {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border: 2px solid #e1e1e1;
	transition: all .5s linear;
}

.check {
	opacity: 0.7;
	transition: all .5s ease-in-out;
}

.check:hover {
	opacity: 1;
	transform: rotate(360deg);
}

table a:hover {
   background: none;
   color: #040404;
}

.green {
	color: green;
}

.red {
	color: red;
}

.grey {
	color: #777;
}

.login_group {
	margin: 10px;
}

.espace {
	margin-bottom: 10px;
}

.bs-wizard {margin-top: 20px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -35px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

.recherche {
	width: 100%;
}

.message {
	background-color: #fffdce;
}
