.table_paiement_AS {
  background-color: #dca4a2;
}

.table_paiement_LO {
  background-color: #b9d6de;
}

.table_paiement_PR {
  background-color: #f1dcbe;
}

.table_paiement_DG {
  background-color: #c6e7c6;
}
