.paperclip_block {
	position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -25px;
}

.paperclip {
	transition: all .5s linear;
}

.paperclip:hover {
	transform: scale(1.2);
}

.useravatar {
	position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
}

.image_ronde:hover {
	transform: scale(1.3);
}

.image_ronde_petite {
	width: 26px;
	height: 26px;
	border-radius: 13px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border: 2px solid #e1e1e1;
	transition: all .5s linear;
}

.image_ronde_petite:hover {
	transform: scale(2);
}
