<%= form_for @user_session, url: user_sessions_path, method: :post, html: { class: 'form-horizontal', role: 'form' } do |f| %>
  <div class='login_group'>
		<div>
		  <%= f.text_field :login, class: 'form-control espace', placeholder: 'Login' %>
		</div>
		<div>
		  <%= f.password_field :password, class: 'form-control espace', placeholder: 'Password' %>
		</div>
		<div class="profile-userbuttons">
			<%= f.submit 'Se connecter', class: 'btn btn-primary' %>
		</div>
	</div>
<% end %> 
