<!DOCTYPE html>
<html ng-app="ergasia">
<head>
  <title>Ergasia</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="//www.google.com/jsapi"></script>
	<script src="/vendor/chartkick.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<div>
					<% societe = Societe.find(1) %>
          <% if societe.logo? %>
            <img src="<%= societe.logo.url %>" class="img-responsive" alt="">
          <% end %>
				</div>
				<% if current_user %>
					<!-- SIDEBAR USERPIC -->
					<div class="profile-userpic">
            <% if current_user.avatar? %>
						  <%= image_tag current_user.avatar.url(:medium), class: "img-responsive" %>
            <% end %>
					</div>
					<!-- END SIDEBAR USERPIC -->
					<!-- SIDEBAR USER TITLE -->
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							<%= current_user.name %>
						</div>
						<div class="profile-usertitle-job">
							<%= current_user.job %>
						</div>
					</div>
					<!-- END SIDEBAR USER TITLE -->
					<!-- SIDEBAR BUTTONS -->
					<div class="profile-userbuttons">
						<%= link_to 'Profil', edit_user_path(current_user.id), class: "btn btn-success btn-sm" %>
						<%= link_to 'Quitter', '/logout', class: "btn btn-danger btn-sm" %>
					</div>
				<% else %>
					<% @user_session = UserSession.new %>
					<%= render :template => 'user_sessions/new'  %>
				<% end %>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="<%= (request.original_fullpath=='/' ? 'active' : '') %>">
							<a href="/">
							<i class="fa fa-envelope"></i>
							Messagerie </a>
						</li>
						<li class="<%= (request.original_fullpath.include?('/tiers') ? 'active' : '') %>">
							<a href="/tiers">
							<i class="fa fa-users"></i>
							Tiers </a>
						</li>
						<li class="<%= (request.original_fullpath.include?('/bien') ? 'active' : '') %>">
							<a href="/biens">
							<i class="fa fa-home"></i>
							Biens </a>
						</li>
						<li class="<%= (request.original_fullpath.include?('/travaux') ? 'active' : '') %>">
							<a href="/travaux">
							<i class="fa fa-wrench"></i>
							Travaux </a>
						</li>
            <li class="<%= (request.original_fullpath.include?('/factures') ? 'active' : '') %>">
							<a href="/factures?bpp=1">
							<i class="fa fa-money"></i>
							Factures </a>
						</li>
						<li class="<%= (request.original_fullpath.include?('/statistiques') ? 'active' : '') %>">
							<a href="/statistiques">
							<i class="fa fa-tachometer"></i>
							Statistiques </a>
						</li>
						<% if current_user and current_user.admin %>
							<li class="<%= (request.original_fullpath.include?('/config') ? 'active' : '') %>">
								<a href="/config">
								<i class="fa fa-gears"></i>
								Configuration </a>
							</li>
						<% end %>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<%  if current_user %>
			<div class="col-md-9 profile-content">
	 			<%= yield %>
			</div>
		<% end %>
	</div>
</div>

</body>
</html>
