<html>
  <body>
    <% societe = Societe.find(1) %>

    <div style='color:red;background:#ffd231 url("<%= societe.logo.url %>") no-repeat right top;width:100%'></div>

    <div>
      <%= yield %>
    </div>
  </body>
</html>
